{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
    <script src="{% static 'chat/script.js' %}"></script>
    <title>RoomieChat</title>
</head>

<body>
    <div class="container" id="whole_body">
        <nav>
            <ul id="dropdown1" class="dropdown-content">
                <li onclick="myfuct()"><a>A-Z</a></li>
                <li onclick="myfuctrev()"><a>Z-A</a></li>
                <li onclick="myfuctshf()" class="shuffleBtn"><a>random</a></li>
            </ul>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Logo</a>
                <ul class=" ">
                    <li class="right"><a href="#!" class="dropdown-trigger" data-target="dropdown1"><i
                                class="material-icons">dehaze</i></a></li>
                    <li><a href="http://www.w3schools.com"><i class="material-icons left">home</i></a></li>
                </ul>
            </div>
        </nav>
        <div class="">
            <ul class="collection shuffle-list-items" id="list">
                {% for user in user_list %}
                    <li class="collection-item"><a href="/chat/{{user.user_id}}">{{user.user_id}}</a></li>
                {% endfor %}
                <li class="collection-item" id="1"><a href="a.html?fruit=apple">Alvin</a></li>
                <li class="collection-item" id="2">theodore</li>
                <li class="collection-item" id="3">Simon</li>
                <li class="collection-item" id="4">jack</li>
                <li class="collection-item" id="5">spencer</li>
                <li class="collection-item" id="6">rock</li>
            </ul>
        </div>

    </div>

   
</body>


</html>